@charset "UTF-8";html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
    
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

body {
    line-height: 1
}

ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    max-height: 999999px
}

body {
    font-weight: 500;
    font-family: '微軟正黑體','MS UI Gothic',Arial,Helvetica,sans-serif;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none
}

a {
    text-decoration: none;
    display: block;
    color: #214dda;
    font-size: 1em
}

a:hover,a:active,a:visited {
    color: #fff
}

:focus {
    outline: 0
}

img {
    width: 100%;
    vertical-align: middle
}

.clearboth {
    clear: both
}

.breakMob {
    display: none
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    padding: 20px;
    height: 80px;
    *height: 40px;
    z-index: 100;
    background-image: url("../images/header/header_bg.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-color: white
}

.header.scrolling {
    -webkit-box-shadow: 0 0 18px rgba(0,0,0,0.22);
    box-shadow: 0 0 18px rgba(0,0,0,0.22)
}

.header .yuantaLogo a {
    display: inline-block;
    *display: inline;
    zoom:1;width: 308px;
    height: 39px;
    background-image: url("../images/header/yuanta_logo.svg");
    background-size: 100% auto;
    background-repeat: no-repeat
}

.header .mediaIcons {
    display: none;
    position: fixed;
    bottom: 50%;
    right: 10px;
    -webkit-transform: translate(0,50%);
    -ms-transform: translate(0,50%);
    transform: translate(0,50%);
    z-index: 100;
}

.header .mediaIcons li {
    display: block;
    margin: 20px 10px;
    background-size: 100%;
    background-repeat: no-repeat
}

.header .mediaIcons li.facebook {
    background-image: url("../images/header/socialmedia_facebook_grey.png");
    background-position: bottom center
}

@media screen and (min-width: 1025px) {
    .header .mediaIcons li.facebook:hover {
        background-image:url("../images/header/socialmedia_facebook.png")
    }
}

.header .mediaIcons li.line {
    background-image: url("../images/header/socialmedia_line_grey.png");
    background-position: bottom center
}

@media screen and (min-width: 1025px) {
    .header .mediaIcons li.line:hover {
        background-image:url("../images/header/socialmedia_line.png")
    }
}

.header .mediaIcons li.instagram {
    background-image: url("../images/header/socialmedia_instagram_grey.png");
    background-position: bottom center
}

@media screen and (min-width: 1025px) {
    .header .mediaIcons li.instagram:hover {
        background-image:url("../images/header/socialmedia_instagram.png")
    }
}

.header .mediaIcons li.youtube {
    background-image: url("../images/header/socialmedia_youtube_grey.png");
    background-position: bottom center
}

@media screen and (min-width: 1025px) {
    .header .mediaIcons li.youtube:hover {
        background-image:url("../images/header/socialmedia_youtube.png")
    }
}

.header .mediaIcons li.telegram {
    background-image: url("../images/header/socialmedia_telegram_grey.png");
    background-position: bottom center
}

@media screen and (min-width: 1025px) {
    .header .mediaIcons li.telegram:hover {
        background-image:url("../images/header/socialmedia_telegram.png")
    }
}

.header .mediaIcons a {
    display: block;
    width: 33px;
    height: 33px
}

.footer {
    width: 100%;
    background-color: #007fe0;
    height: 80px;
    padding: 10px 0
}

.footerCont {
    color: white;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 13px;
    line-height: 28px;
	text-align: center;
}

.footerCont .copyright {
    width: 100%;
}

.footerCont .contWrapper {
    width: 100%;
}

.contWrapper .footer-item {
	display: inline-block;
	padding: 0 5px;
}

.goTop {
    display: none;
    position: fixed;
    z-index: 99;
    right: 2em;
    bottom: 2em;
    opacity: .7;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-image: url("../images/goTop.svg");
    background-size: 100% auto;
    background-repeat: no-repeat
}

@media screen and (min-width: 1025px) {
    .goTop:hover {
        opacity:1
    }
}

.wrapper {
    width: 100%;
    color: #fff;
    font-weight: 400
}

@media screen and (min-width: 1201px) {
    .wrapper {
        font-size:18px
    }
}

@media screen and (max-width: 1200px) and (min-width:1025px) {
    .wrapper {
        font-size:18px
    }
}

@media screen and (max-width: 1024px) and (min-width:768px) {
    .wrapper {
        font-size:16px
    }
}

@media screen and (max-width: 767px) {
    .wrapper {
        font-size:15px
    }
}

@media screen and (min-width: 1025px) {
    .wrapper {
        line-height:32px
    }
}

@media screen and (max-width: 1024px) and (min-width:768px) {
    .wrapper {
        line-height:28px
    }
}

@media screen and (max-width: 767px) {
    .wrapper {
        line-height:23px
    }
}

.container {
    position: relative;
    width: 85%;
    max-width: 1000px;
    margin: 0 auto;
    z-index: 1
}

@media screen and (max-width: 1024px) {
    .header {
        height:76px
    }

    .header .yuantaLogo a {
        width: 281px;
        height: 36px
    }

    .header .mediaIcons a {
        width: 28px;
        height: 28px
    }
}

@media screen and (max-width: 767px) {
    h2::after {
        margin:30px auto
    }

    p {
        padding-bottom: 10px
    }

    .breakMob {
        display: block
    }

    .header {
        padding: 16px;
        height: 58px
    }

    .header .yuantaLogo a {
        width: 203px;
        height: 26px
    }

    .header .mediaIcons {
        width: 100%;
        bottom: 0;
        left: 0;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        background-color: rgba(0,159,232,0.9);
        text-align: center;
        padding: 4px 0
    }

    .header .mediaIcons li {
        display: inline-block;
        *display: inline;
        zoom:1;vertical-align: middle;
        margin: 6px
    }

    .header .mediaIcons li.facebook {
        background-image: url("../images/header/socialmedia_facebook.svg");
        background-position: bottom center
    }

    .header .mediaIcons li.line {
        background-image: url("../images/header/socialmedia_line.svg");
        background-position: bottom center
    }

    .header .mediaIcons li.instagram {
        background-image: url("../images/header/socialmedia_instagram.svg");
        background-position: bottom center
    }

    .header .mediaIcons li.youtube {
        background-image: url("../images/header/socialmedia_youtube.svg");
        background-position: bottom center
    }

    .header .mediaIcons li.telegram {
        background-image: url("../images/header/socialmedia_telegram.svg");
        background-position: bottom center
    }


    .footer {
        padding-bottom: 60px;
        height: auto
    }

    .footerCont {
        font-size: 12px;
        line-height: 20px;
		text-align: left;
    }
	
	.contWrapper .footer-item {
		width: 100%;
		display: block;
		padding: 0;
	}

    .footerCont .copyright,.footerCont .contact {
        float: none;
        display: block;
        max-width: 100%;
        padding-bottom: 10px
    }

    .goTop {
        width: 40px;
        height: 40px;
        bottom: 70px;
        right: 20px
    }
}
